.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f2f5;
}

.login-form {
  width: 300px;
}

.login-form-button {
  width: 100%;
}
.info-list {
  margin: 6px;
  border: 1px solid #333;
}

.info-list legend {
  padding: 0 10px;
}
